<!-- Lifecycle Hooks in Angular -->

<!-- <app-posts-list></app-posts-list> -->

<!-- In the example below we have loaded the app-posts-list but using the ngComponentOutlet, or programatically. for this we first added the NgComponentOutlet in Imports app.component.ts file and then made the loadComponent() method inside the exports of ts file. and inside that method we just returned the PostsListComponent, which we have already imported inside the ts file there. -->

<!-- <div *ngComponentOutlet="loadComponent()" ></div> -->


<!-- (Creating Component) Render Components. Programtically 2: using bulitin Angular API which is ViewContainerRef. So, in this example what we wanted to do is, we wanted to show the app-posts-list when the button is clicked. So first we made the button, and added the click function on it, and on click we wanted to start the method loadComponent. but to make that button work we first have to make the constructor inside the export ts file, and then we made it private at first with viewContainer : ViewContainerRef is set. Then we made the loadComponent method and inside the {} we asked for viewContainer after this. and then created the creatComponent after . with the component which we wanted to show which is PostsListComponent inside the ()  -->

<!-- <button (click)="loadComponent()" >Create Component</button> -->


<!-- Destroying the component, So, by creating the remove button we want to destroy or remove the component which we added by using the upper exampple. so we made the button added the click option and on click we wanted to run the removeComponent method, so we made the removeComponent() method inside the ts file and inside that method we just added the .remove() after the this.viewContainer which means we want to remove the component inside that viewContainer -->
 
<!-- <button (click)="removeComponent()" >remove Component</button> -->


<!-- ngOnChange,  -->

<!-- <app-profile [pUserName]="userName" ></app-profile>

<button (click)="changeUser()" >Change user name</button> -->


<!-- ngOnInit: called once after the component is initialized, meanse everything is ready to move but will move once it is needed to be moved. First we will import OnInit inside the import of profileTS file, and then we will put it inside the export of profileTS file and then will make a method using ngOnInit inside that export or we wont be able to use it -->


<!-- constructor method: this method work kinda same as ngOnInit. But there is a HUGE difference in it. which is when we use this method not all the things can be displayed inside it, but those things cna be shown inside the ngOnInit method. Because the constructor() method first have to make its separate space inside the computer RAM, which ngOnInit can already have. We mostly use constructor for simple work, where we dont have to access the DOM, and as it is dependent. so we work with it when we need to do some easy work we use it -->

<!-- ngDoCheck: called during every change detection run, vigilant guard constantly checking for changes. It can be called frequently, so dont put heavy operators in here. So, almost same as previous hooks first we will import it at the top of our profile's TS file, and then we will add it in exports after puting a , and then we will make the operation using the ngDoCheck() {} inside the @Imports of the profile TS file. This will work whenever we will make a change on web by pressing the Change user name button, as we are changing the username by pressing that button, we are changing the profile and that is why the ngDoCheck will be triggered each time we press the button. as it is also coming from the parent file. -->

<!-- The difference between ngOnChange and ngDoCheck is that the ngDoCheck trigers every time a change occurs, whereas the ngOnChange only get calls when @Input properties get changed. -->


<!-- ngAfterContentInit: Called once after the component's content has been finalized. Means it will work once the parent component's data is projeted inside the view, then it will trigger. For making it work we will add it same as other hooks inside the profile ts file. and then make a method using the ngAfterContentInit and then we will add the ng-content inside the html file of profile so that it can capture the data from the parent component. use it when you are working with content that have properly been initialized inside the view and we want to rander or change the content -->

<app-profile>
    <p>Content projected from parent</p>
</app-profile>